# ignore .git and .cache folders
.git
.gitignore
.cache

# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md
README-secret.md

.dockerignore
Dockerfile
docker*.yml
mongodb.env

**/.DS_Store
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Stores VSCode versions used for testing VSCode extensions
.npm
.vscode-test
.vscode
.vscode/*

