**/.DS_Store
.DS_Store

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
.vscode
.vscode/*

# Logs
logs
*.log
npm-debug.log*
